.name{
    font-size: 1.5rem;
    display: inline-block;
    font-weight: 600;
}

.navbar-toggler {
    background: #F3F3F3 0% 0% no-repeat padding-box;

      
}

.navbar-toggler > img {
    width: 1.25rem;
    vertical-align: middle;
      
}

.navbar-nav{
    margin-left : auto;
    padding: 2px;
}

.nav-item{
    display: inline;
}

.nav-link {
    text-transform: uppercase;  
}
