@import url("../header.css");
@import url("../hero.css");
@import url("../nav.css");

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'JetBrains Mono';
}

html {
    font-size: 16px;
    background: #f3f3f3;
    color: #313131;
  }

body {
    background: #F3F3F3 0% 0% no-repeat padding-box;
}

@media only screen and (min-width: 992px) {
    .wrapper {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 1.5rem;
    }
}
.wrapper {
    width: 100%;
    padding: 0 1rem;
}

section {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    padding-bottom:2rem; 
    list-style-type: none;
}
  
.socials__link {
    width: 2rem;
    margin: 0.75rem;
    display: block;
    font-size: 0;
}

.socials__link:hover { font-weight: 600;}

.socials__link a img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.socials__link a:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.cta {
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    color: #a5a5a5;
}
  
.cta__text {
    padding-top: 2rem;
    margin-top: 2rem;
    font-weight: 600;
    color: #a5a5a5;
}

.cta__arrowdown {
    display: inline-block;
    margin-top: 0.5rem;
    width: 1.25rem;
    text-align: center;
}

.cta__arrow {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 3px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0; transform:translateY(10px)}
80% {opacity:1; transform:translateY(25px)}
100% {opacity:0; transform:translateY(25px)}
}

@keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0; transform:translateY(5px)}
80% {opacity:1; transform:translateY(25px)}
100% {opacity:0; transform:translateY(25px)}
}

.cta__arrow path {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari and Chrome */
}